<div class="cerrarFormulariosyEfectoBlur">
<div class="separador"></div>
  <footer id="footer" class="footer text-center">

      <div class="row">
          <div class="col align-self-start">
            Correo: vallejo.martin.jorge@gmail.com
          </div>
          <div class="col align-self-center">
            Curso 2021. Proyecto Junio
          </div>
          <div class="col align-self-end">
            IES San Juan de la Cruz
          </div>
        </div>

        <div class="row" style="margin-top: 25px;">
          <div class="col align-self-center">
            
              <p class="text-center"> 
                <img style="display: inline; height: 60px;" src="view/img/logoFINAL.png" > © 2021 Copyright: <a class="text-dark" href=""> ROLDIARY </a>
              </p>
          </div>
        </div>   
      
  </footer>
</div>