@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

/* PALETA DE COLORES: https://coolors.co/463f3a-8a817c-bcb8b1-f4f3ee-e0afa0 
#463f3a
#8a817c
#bcb8b1
#f4f3ee
COLOR DE LA BARRA DE ARRIBA, DONDE EL TÍTULO #e0afa0
TITULO DE TARJETA background-color: rgba(0,0,0,.03);
*/
html{
    height: 100%; overflow:auto;
}

body {
    height: 100vh;
    font-size: .99rem;
    font-weight: 420;
    line-height: 1.6;
    color: #000000;
    text-align: left;
    background-color: #f5f8fa;
    overflow-x: hidden;
    font-family: 'Old Standard TT', serif !important;
  }
  
  a{
    color: #000000;
  }
   
  a:hover{
    color: #b14b4b;
  }
  
  button:active {
    color: #b14b4b;
    box-shadow: 0 0 0 2px white, 0 0 0 1px #b14b4b;
}

button:focus {
    color: #b14b4b;
    box-shadow: 0 0 0 1px white, 0 0 0 1px #b14b4b;
}

/* Boton subir arriba */
  /*Flecha para hacer la pagina hacia arriba*/

  .ir-arriba{
    background-repeat:no-repeat;
    font-size:20px;
    color: #b14b4b;
    cursor:pointer;
    position:fixed;
    bottom:20px;
    right:20px;
    z-index: 2;
  }



/* El header  */

#header{
  height: 100px;
}

    .menus-background{
        background-color: #e0afa0;
        font-size: small;
    }

    #titulo{
    font-family: 'Old Standard TT', serif;
    font-size: xx-large;
    color: #000000;
    }
    
    #titulo:hover {
    color: #b14b4b;
    }
    
/* botones registro, loguin y salir */

.botonNavHeader{
  color: black !important;
  border-radius: 6px  !important;
  border: 3px double grey !important;
  background: white !important;
 }

 .botonNavHeader:hover{
  color: white !important;
  background: #E0AFA0 !important;
  border: 3px double white !important;
  text-decoration: none !important;
 }

 .botonNavHeader a{
  color: black !important;
  text-decoration: none !important;;
 }

 .botonNavHeader a:hover{
  color: white !important;
  text-decoration: none !important;;
 }

.botonNavHeader:hover,
.botonNavHeader:focus,
.botonNavHeader.active{
    color: white !important;
    background: #E0AFA0 !important;
    border: 3px double white !important;
    text-decoration: none !important;
    
}
    
/* El logo  */

.img-title{
    display: inline;
    height: 90px;
}
    
    .links-color a{
        margin-left: 15px;
        color: black;
    }
    
    
    .links-color a:hover{
        color: #b14b4b;
        text-decoration: underline;
    }
    
/* información principal de la web */

.presentacionWeb{
    font-size: xx-large;
}

/* los containers principales donde van toda la información: debajo del header. Lo usa también el footer */

.indexContainers{
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 50px;
}

#wrap {
    min-height: 100%;
  }
  
  #main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
  }
  

/* Separador top and bottom */

.separador{
    margin-top: 30px;
    margin-bottom: 30px;
}


/* El footer  */

#footer{
    background-color: #e0afa0;
}
.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
  } 


