<nav id="titulo" class="menus-background navbar sticky-top navbar-expand-lg">

        <div class="container links-color">
            <img class="img-title" src="view/img/diario.png" > 
            <a id="titulo" class="navbar-brand " href="index.php"> 
                ROLDIARY 
            </a>
            <span class="navbar-brand text-right"> 
                <button style="cursor:auto;">
                  <a href="index.php?cerrar=sesion">SALIR</a>
                </button>
            </span>

        </div>
</nav>
